.title {
	font-size: 2rem;
	font-weight: bold;
	font-family: "Bigshot One", cursive;
	letter-spacing: 2px;
	margin: 5rem 0;
}

a {
	text-decoration: none;
	color: black;
}
.container {
	width: 80%;
}
.movies {
	display: flex;
	flex-wrap: wrap;
}
figure {
	margin: 2rem 0;
	padding-right: 2rem;

	@media screen and (min-width: 768px) {
		width: 48%;
	}
	@media screen and (min-width: 992px) {
		width: 31%;
	}
	@media screen and (min-width: 1200px) {
		width: 18%;
	}
}
.caption {
	&__title {
		font-size: 2rem;
	}
	padding-left: 2rem;
	transform: translateY(-180%);
	color: white;
}

img {
	width: 100%;
	background-size: cover;
}
