.title {
	font-size: 2rem;
	font-weight: bold;
	font-family: "Bigshot One", cursive;
	letter-spacing: 2px;
	margin: 5rem 0;
}

a {
	text-decoration: none;
	color: black;
}

.image-container {
	position: relative;
	width: 95%;
	margin: 2rem 0;
}
.caption {
	&__title {
		font-size: 3rem;
	}
	// position: absolute;
	// bottom: 10%;
	// left: 10%;
	// color: red;
}

img {
	width: 100%;
	background-size: cover;
}
